[submodule "octsympy"]
	path = octsympy
	url = git://github.com/cbm755/octsympy
[submodule "go-sqlite"]
	path = go-sqlite
	url = git://github.com/markuman/go-sqlite
[submodule "go-redis"]
	path = go-redis
	url = git://github.com/markuman/go-redis
[submodule "instrument-control"]
	path = instrument-control
	url = git://github.com/dac922/octave-instrument-control
[submodule "sockets-enh"]
	path = sockets-enh
	url = git://github.com/octave-de/octave-sockets-enh
[submodule "socket-enh"]
	path = socket-enh
	url = git://github.com/octave-de/octave-sockets-enh
